<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service Provider</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="navigation">
        <h3>Admin Page</h3>
        <a href="/add_sp" class="links">Add Service Provider</a>
        <a href="/view_sp" class="links" >Service Providers</a>
        <a href="admin_login.html" class="links">Logout</a>
</div>
